.ErrorBox {
  font-size: 12px;
  color: #FF0000;
  margin-left: 15px;
  position: absolute;
  margin-top: -22px;
}

.FormatError{
  margin-left: 100px;
}

.SelectFix{
  margin-top: -36px;
}

.FormModal {
  input, select {
    width: 98%;
    margin: 5px auto;
    margin-bottom: 22px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.24) !important;
  }
}