

//grid

//colors
$white: #fff;
$light-gray: #C7C7C7;
$marine-blue: #3f536c;
$blue: #5696FF;
$text: #1F2B3E;
$text-gray: #757575;
$text-light-gray: #9fa9b5;

// predefined fonts


//breaks


//metrics
$metrics-xsmall: 20px;
$metrics-small: 40px;
$metrics-regular: 60px;
$metrics-large: 120px;
$metrics-xlarge: 240px;

//path
 $path-images : "assets/images/";