.Background {
  height: 100vh;
  background: url("assets/images/BG.jpg") no-repeat center;
  background-size: auto 100%;
  @media (min-width: 1286px) {
    background-size: 100% 100%;
  }
  .LoginModal {
    height: 429px;
    width: 624px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.36);
    .LogoSection {
      height: 100%;
      display: flex;
      width: 237px !important;
      background: radial-gradient(circle, #415670 0%, #1f2b3d 100%);
      padding: 20px;
      text-align: center;
      flex-direction: column;
      justify-content: space-between;
      > img {
        margin: 16px;
        height: 56%;
      }
      > span {
        color: #e0e3e7;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.19px;
        line-height: 12px;
        min-width: 197px;
      }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        width: auto;
      }
    }
    .LoginForm {
      width: 387px;
      background-color: #fafafa;
      display: flex;
      flex-direction: column;
      padding: 20px 50px;
      justify-content: flex-end;
      flex-grow: 1;
      h3 {
        text-align: left;
        color: #1f2b3d;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.17px;
        margin-bottom: 35px;
      }
      button {
        width: 100%;
        margin-top: 84px;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2.5px;
        text-align: center;
        font-weight: 300;
        line-height: 32px;
        border-radius: 2px;
        background-color: #5696ff;
        border: 0;
        &:global(.disabled) {
          background-color: #b0cdfc;
          &:hover {
            background-color: #b0cdfc;
          }
        }
        &:hover {
          background-color: #5696ff;
          cursor: pointer;
        }
        &:global(.btn.btn-secondary) {
          &:focus,
          &:active,
          &:focus {
            box-shadow: none;
          }
        }
      }
      span {
        font-size: 10px;
        line-height: 12px;
        color: #1f2b3d;
        margin-top: 20px;
        display: inline-block;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
