.Informations {
  height: calc(100vh - 245px);
  overflow: auto;
  overflow-x: hidden;
  .TabBox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    .TopBar {
      display: flex;
      width: 100%;
      margin-bottom: 20px;
      > h4 {
        color: #1F2B3D;
        font-size: 16px;
        font-weight: 300;
        padding-right: 15px;
        margin-right: 15px;
        line-height: 27px;
        margin-bottom: 0;
        &.WithBorder {
          border-right: 1px solid #C8C8C8;
        }
      }
      button {
        margin-left: 5px;
        margin-right: 5px;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
        }
      }
      .TextButton {
        border-radius: 2px;
        border: 0.6px solid #4F5561;
        font-size: 12px;
        background-color: #fff;
        color: #1F2B3D;
        padding: 4px 15px;
        padding-bottom: 3px;
        &:focus, &:active {
          outline: 0;
        }
      }
      .EditButton {
        background: url("assets/images/edit.png") no-repeat center;
        background-size: 29px 26px;
        padding: 10px 15px;
        border: 0;
        border-radius: 2px;
        &:hover {
          cursor: pointer;
        }
        &:focus, &:active {
          outline: 0;
        }
      }
    }
    .DataColumn {
      h4 {
        font-size: 14px;
        color: #9FA9B5;
        text-align: left;
        margin-bottom: 15px;
        padding-left: 5px;
      }
      p {
        color: #1F2B3D;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        padding-left: 5px;
        padding-top: 8px;
        padding-bottom: 10px;
        margin-bottom: 4px;
      }
      input {
        border: 0;
        background-color: #F5F5F5;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-top: 8px;
        padding-bottom: 10px;
        border-radius: 2px;
        font-size: 14px;
        max-width: 290px;
        &:active, &:focus, &:hover {
          box-shadow: none;
          background-color: #F5F5F5;
        }
      }
    }
  }
}